version: "3.8"

services:
  intelligrader-api:
    build: .
    container_name: intelligrader-api
    restart: unless-stopped
    networks:
      - web_network

  nginx:
    image: nginx:alpine
    depends_on:
      - intelligrader-api
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - web_network

networks:
  web_network:
    driver: bridge
